<a href="https://colab.research.google.com/github/Anisha-singh2207/Anisha-singh2207/blob/main/chi%20square%20test%20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [26]:
import pandas as pd

In [27]:
df=pd.read_csv("/content/chi1__2__lyst1729241145055.csv")

In [28]:
df

     age intervals Experience intervals
0          41 - 50         6 - 10 Years
1          41 - 50         6 - 10 Years
2          31 - 40         6 - 10 Years
3          31 - 40         6 - 10 Years
4          18 - 30         6 - 10 Years
...            ...                  ...
1465       31 - 40        11 - 20 Years
1466       31 - 40         6 - 10 Years
1467       18 - 30         6 - 10 Years
1468       41 - 50        11 - 20 Years
1469       31 - 40         6 - 10 Years

[1470 rows x 2 columns]

In [30]:
df.dtypes # checking categorical column since chi square can only be perfomed of categorical data

age intervals           object
Experience intervals    object
dtype: object

age intervals           object
Experience intervals    object
dtype: object

In [31]:
df["age intervals"].value_counts()

age intervals
31 - 40    619
18 - 30    386
41 - 50    322
51 - 60    143
Name: count, dtype: int64

In [32]:
df["Experience intervals"].value_counts()

Experience intervals
6 - 10 Years     607
11 - 20 Years    340
Upto 5 Years     316
21 - 40 Years    207
Name: count, dtype: int64

In [35]:
ct=pd.crosstab(df["age intervals"],df["Experience intervals"],margins=True)

In [36]:
ct

Experience intervals,11 - 20 Years,21 - 40 Years,6 - 10 Years,Upto 5 Years,All
age intervals,,,,,
18 - 30,22,0,172,192,386
31 - 40,190,20,308,101,619
41 - 50,85,112,110,15,322
51 - 60,43,75,17,8,143
All,340,207,607,316,1470

In [38]:
from scipy import stats
import scipy

In [39]:
chi2,p,dof,expected=stats.chi2_contingency(ct)

In [40]:
chi2 # calculated chi sq value

np.float64(679.971444973354)

In [41]:
p

np.float64(2.359819766769466e-134)

In [42]:
dof

16

In [43]:
expected

array([[  89.27891156,   54.35510204,  159.38911565,   82.97687075,
         386.        ],
       [ 143.17006803,   87.16530612,  255.60068027,  133.06394558,
         619.        ],
       [  74.47619048,   45.34285714,  132.96190476,   69.21904762,
         322.        ],
       [  33.07482993,   20.13673469,   59.04829932,   30.74013605,
         143.        ],
       [ 340.        ,  207.        ,  607.        ,  316.        ,
        1470.        ]])

In [44]:
chi1=29.296

ho----> age interval have relationship with the experience interval


h1---> have no relationship with the experience

Since the calculated chi value is greater than original value


we are going to reject the null hypothesis

GOODNESS OF FIT

In [45]:
expected=[50,50,50,50,50]
observed=[50,60,40,47,53]

In [46]:
sum(expected)

250

In [47]:
sum(observed)

250

Here the expected and the observed values are coming equal

In [48]:
stats.chisquare(f_obs=observed,f_exp=expected)

Power_divergenceResult(statistic=np.float64(4.359999999999999), pvalue=np.float64(0.3594720674366307))